<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">耀升超級天才總務股長小工具</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="{% url 'wonder:index' %}">評估列表</a>
        <a class="nav-link active" href="{% url 'wonder:new' %}">新增評估</a>
        <a class="nav-link active" href="{% url 'receipt:index' %}">收據列表</a>
        <a class="nav-link active" href="{% url 'receipt:new' %}">新增收據</a>
        <a class="nav-link active" href="{% url 'twinbird:index' %}">撮合</a>
        <a class="nav-link active" href="{% url 'twinbird:list' %}">撮合列表</a>
      </div>
    </div>列表
  </div>
</nav>