{% extends 'base.html' %}



{% block container %}
    <a href="{% url 'wonder:new' %}" class="btn btn-warning" >新增紀錄</a>

    <div class="card">
        <div class="card-header card-secondary">列表</div>
        <div class="card-body ">
            <table class="table table-bordered table-hover table-striped">
              <thead class="table-dark">
                <tr>
                  <td>評估日期</td>
                  <td>項目名稱</td>
                  <td>要求來源</td>
                  <td>價錢區間</td>
                  <td>修改/刪除</td>
                </tr>
              </thead>
              <tbody>
              {% for wonder in wonder_list %}
                <tr>
                  <td>{{ wonder.xdate|date:"Y-m-d D" }}</td>
                  <td>{{ wonder.note }}</td>
                  <td>{{ wonder.source }}</td>
                  <td>{{ wonder.xrange }}</td>
                  <td>
                      <a href="{% url 'wonder:edit' wonder.id %}" class="btn btn-primary btn-sm">修改紀錄</a>
                      <a href="{% url 'wonder:delete' wonder.id %}" class="btn btn-danger btn-sm">刪除紀錄</a>
                  </td>
                </tr>
              {% endfor %}


              </tbody>

            </table>
        </div>
    </div>
{% endblock %}